.loader {
  display: flex;
  justify-content: center;
}

.message {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  color: green;
}
